html {
    font-family: 'Arial Narrow', Arial;
    background: rgb(0, 0, 16);
}

a {
    text-decoration: none;
    color: black;
}

hr {
    background: grey;
}
#container {
    position: relative;
    display: flex;
}

#profile {
    flex: 15%;
    display: block;
    position: relative;
    margin: 5% 2% 0 10%;
    width: 100%;
    height: 100%;
}

#info-cards {
    flex: 55%;
    display: block;
    margin-top: 5%;
    margin-right: 10%;
    width: 100%;
    height: 100%;
}

#image {
    position: relative;
    overflow: hidden;
}

#image,
#profile-photo {
    position: relative;
    width: 186px;
    border-radius: 105px;
}
#designation{
    color: white;
}
#name {
    color: white;
    font-size: 23px !important;
    line-height: 20px !important;
}

#about,
.card>ul>li {
    padding: 0 0 0 15px;
    position: relative;
    display: inline-block;
    width: 100%;
}

#about {
    color: white;
    font-size: 20px !important;
    padding: 0 !important;
}

#name,
#about>p {
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
}

#email {
    font-size: 15px !important;
    font-weight: bold !important;
    font-family: 'Cutive Mono', monospace;
}

#college,
#email,
#year-graduation,
#education,
#more-about,
#phone {
    color: rgb(130, 130, 130);
    font-size: 13.5px;
}

strong,
span {
    color: rgb(199, 199, 199);
    font-size: 16px;
}

#social-links,
#about {
    display: inline-block;
}

#social-links {
    margin-bottom: 12px;
}

#social-links a {
    margin: 0 10px;
}

.fab {
    font-size: 1.1em;
}

.fab,
.fas {
    color: whitesmoke;
}

#about>a {
    top: 4px;
    right: 8px;
}

.edit {
    top: 19px;
    right: 10px;
}

#about>a,
.edit {
    position: absolute;
    font-size: 15px !important;
}

.stroke-transparent {
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: transparent;
}

.card {
    box-shadow: 10px 10px 10px 0 rgba(137, 137, 137, 0.273);
    overflow-x: hidden;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 15px 30px 30px 30px;
    background-color: rgb(14, 14, 31);
}

.card>p {
    color: rgb(175, 175, 175);
    font-weight: bolder;
    font-size: 18px;
    line-height: 2;
}

.card>ul {
    list-style-type: none;
}

.tags {
    font-size: 17px;
    font-weight: bolder;
    color: rgb(175, 175, 175);
}

.tags~a {
    display: none !important;
}

.tags span {
    font-size: 14px;
    font-weight: normal;
    color: #5e5e5e;
}

.tags span span {
    color: #848484;
}

@media screen and (max-width:1090px) {
    #profile {
        margin-left: 5%;
    }
}

@media screen and (max-width:850px) {
    #container {
        display: block;
    }

    #profile {
        width: 90%;
    }

    .card {
        margin: 0 5%;
        margin-bottom: 30px;
    }
}

lable {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #183a1d;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    float: right;
    border-radius: 24px;

}

/* skill  */
.wrapper {
    width: 210px;
    font-family: 'Roboto', sans-serif;
    margin: 0 1.5cm; 
    padding: 0px 390px 0 0px;

}

.skill {
    margin-bottom: 15px;
    position: relative;
    overflow-x: hidden;

}

.skill>p {
    font-size: 11px;
    font-weight: 700;
    color: #6a6a6a;
    margin: 0;
}

.skill:before {
    width: 100%;
    height: 4px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
}

.skill-bar {
    width: 100%;
    height: 4px;
    background: rgb(6, 30, 96);
    display: block;
    position: relative;
}

/* SKILL 1 */
.skill1 {
    width: 70%;

}

.skill-bar span {
    position: absolute;
    border-top: 4px solid #251291;
    top: -19px;
    padding: 0;
    font-size: 10px;
    padding: 3px 0;
    font-weight: 500;
}

.skill-bar {
    position: relative;

}

.skill1 .skill-count1 {
    right: 0;
}

/* SKILL 2 */
.skill2 {
    width: 65%;
}

.skill2 .skill-count2 {
    right: 0;
}

/* SKILL 3 */
.skill3 {
    width: 40%;
}

.skill3 .skill-count3 {
    right: 0;
}

/* SKILL 4 */
.skill4 {
    width: 60%
}

.skill4 .skill-count4 {
    right: 0;
}

#foot {
    width: 100%;
    height: 50px;
    margin-top: 70px;
    background-color: rgb(14, 14, 31);
    display: flex;
    font-size: 25px;
    letter-spacing: 2px;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    color: rgb(175, 175, 175);
}


form {
    margin-left: 1cm;
    color: white;
}


.button {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    background-color: rgb(0, 0, 16);
    text-decoration: none;
    margin-left: 1cm;
    padding: 1px 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.button:hover {
    animation: pulsate 1s ease-in-out;
    /*The pulsate animation is added on hover. You could also add this on .button:focus and it will add it when clicking the button as well.*/
}

@keyframes pulsate {
    0% {
        box-shadow:
            0 0 25px #343d8d,
            0 0 50px #454eff;
    }
}









#toggle {
    display: none;
}

.but {
    display: inline-block;
    width: 60px;
    margin-top: 2cm;
    margin-left: 85%;
    height: 25px;
    background-color: rgb(111, 111, 111);
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.but::after {
    content: url('./images/sun-line.svg');
    /* Add in the image. You could also add an icon by the using the icon's unicode (sites like fontawesome.com provide this). */
    width: 30px;
    height: 30px;
    /* Making the icon slightly taller than the button container. */
    background-color: rgb(0, 0, 16);
    border: 2px solid rgb(111, 111, 111);
    border-radius: 20%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    position: absolute;
    top: -5px;
    /* Since the button has a height of 35px and the ::after has 40px, we offset the difference by pushing it up by 5px to center this element vertically. */
    left: 0;
    display: grid;
    /* Used for centering the icon image in the middle in conjunction with place content center. */
    place-content: center;
    line-height: 0;
    /*By default this will have a line height. This means that the image will not be perfectly centered by using the properties above. To make sure we can center this image in the middle, we make the line height 0. */
    transition: background-color .7s,
        transform .7s ease-in;
}

#toggle:checked+.but::after {
    content: url('./images/moon-line.svg');
    /* Switching the images when clicked. */
    background-color: #fff6da;
    transform: translateX(30px) rotate(270deg);
    /* Since the width of the button is 90px and the pseudo element is 40px we translate by a number that adds up to 90. So we translate to the right by 50px ( 40 + 50 = 90 width of the button). We also rotate this element by 360 degrees. */
}